div{align-items: center;}
    
    #viajes-chile {
        font-family: 'Dancing Script';
        text-align: center;
        color: white
        }
    #menu {
        font-family: 'Dancing Script';
        text-align: center;
        color: rgb(255, 255, 255);
        }
    #quienes-somos{
        background-color: black;
        font-family: 'Dancing Script';
        text-align: center;
        color: rgb(255, 255, 255);
    }
    #avion{
        color: rgb(255, 255, 255);
        background-color:aqua
    }
    #mont{
        color: rgb(255, 255, 255);
        background-color:aqua
    }
    #ruta{
        color: rgb(255, 255, 255);
        background-color:aqua
    }


      /*  .dancing-script-<uniquifier> {
            font-family: "Dancing Script", cursive;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal; */
        